@model IEnumerable<Domain.UseCases.TaskUseCases.Dto.TaskItem>
@{
    ViewData["Title"] = "Tasks";
}

<div class="row">
    <div class="col-md-12 right">
        <p>
            <a asp-action="Create" class="btn btn-primary">New Task</a>
        </p>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewData["Title"]</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreationDate)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @item.CreationDate.ToString("d")
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id=item.Id  }, htmlAttributes: new { @class="btn btn-outline-warning btn-sm"})
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No results.</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

